{% extends 'base.html' %}
{% block title %}
    乾頤堂设备配置
{% endblock title %}

{% block js %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock js %}

{% block body %}

<div class="container-fluid">
    <br><h2 style="color: #666666">乾颐堂设备配置备份查询</h2><br>
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          {% for device in devices_list %}
              {% if device == current %}
              <li class="nav-item">
                <a class="nav-link active" href="/deviceconfig/{{ device }}">{{ device }}</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/deviceconfig/{{ device }}">{{ device }}</a>
              </li>
              {% endif %}
          {% endfor %}
        </ul>
      </div>
        <div class="card-body">
            <table class="table table-bordered" id="qyt_table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">设备名</th>
                      <th scope="col">配置HASH值</th>
                      <th scope="col">配置备份时间</th>
                    </tr>
                  </thead>
                  <tbody id ="qyt_body">
                    {% for device in device_config_date_hash %}
                    <tr>
                      <th scope="row" align="center" valign="center" >{{ forloop.counter }}</th>
                      <td align="center" valign="center" style="color:black"><strong>{{ device.name }}</strong></td>
                      <td align="center" valign="center" style="color:black"><strong>{{ device.hash }}</strong></td>
                      <td align="center" valign="center" style="color:black"><strong>{{ device.date }}</strong></td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready( function () {
        $('#qyt_table').DataTable();
    } );
</script>
    {# DataTable中点击任何一个条目变深色,表示被选中功能的JavaScript #}
<script>
    $(document).ready(function() {
        var table = $('#qyt_table').DataTable();

        $('#qyt_body tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );

        $('#button').click( function () {
            table.row('.selected').remove().draw( false );
        } );
    } );
</script>
{% endblock body %}
