{% extends 'base.html' %}
{% block title %}
    查看设备备份配置
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class='col-md-8'>
        <br><h2 style="color: #666666">{{ devicename }} {{ date }}配置备份</h2><br>
    </div>
    <div class='col-md-8'>
        <form>
            <div class="form-group" align="center">
                <textarea rows="10" class="form-control" readonly id="textarea" >{{ config }}</textarea>
            </div>
        </form>
        <br>
        <button onclick="copy()">复制到剪贴板</button>
    </div>
</div>

<script type="text/javascript" language="javascript">
    function copy() {
      let textarea = document.getElementById("textarea");
      textarea.select();
      document.execCommand("copy");
    }
</script>
{% endblock body %}