{% extends 'base.html' %}
{% block title %}
    查看设备备份配置
{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class='col-md-8'>
        <br><h2 style="color: #666666">{{ devicename }} {{ date }}配置备份</h2><br>
    </div>
    <div class='col-md-8' align="center">
        <form>
            <div class="form-group" align="center">
                <textarea rows="10" class="form-control" readonly>{{ config }}</textarea>
            </div>
        </form>
    </div>
</div>
{% endblock body %}